#transperentBox {
  z-index: 249;
  position: fixed;
  top: 120px;
  right: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(0, 99, 129);
  cursor: pointer;
  transition: 0.1s ease-in;
}
#transperentBox202::after {
  content: 'X';
  line-height: 30px;
  margin-right: 9px;
  color: rgb(255, 255, 255);
}
#transperentBox202 {
  z-index: 249;
  position: fixed;
  top: 120px;
  right: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(11, 125, 160);
  cursor: pointer;
  transition: 0.1s ease-in;
  transform: scale(1.8);
  z-index: 2550;
}
#transperentBox:hover {
  transform: scale(1.6);
}

#transperentBox202:hover {
  background-color: rgb(0, 195, 255);
  transform: scale(1.4);
}
.redRoundCircle12 {
  z-index: 250;
  position: absolute;
  top: 120px;
  right: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  text-align: center;
  color: whitesmoke;
  line-height: 30px;
  transition: 0.1s ease-in;
}
.redRoundCircle1202 {
  z-index: 250;
  position: fixed;
  top: 120px;
  right: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  text-align: center;
  color: whitesmoke;
  line-height: 30px;
  transition: 0.3s ease-in;
  transform: scale(1.8);
}
.redRoundCircle12:hover {
  transform: scale(1.4);
}
.redRoundCircle1202:hover {
  transform: scale(1.6);
  background-color: rgb(214, 0, 0);
}

#yellowbox {
  border-radius: 10px;
  position: fixed;
  top: 140px;
  right: 50px;
  z-index: 250;
  background-color: rgb(235, 235, 235);
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

#yellowheadete {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
#line123122 {
  width: 97%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.281);
  margin: 10px;
}
#messages101 {
  max-height: 240px;
  overflow-y: auto;
}
.singlemessage101Unwatch {
  top: 30%;
  z-index: 2222325;
  font-size: 15px;
  font-weight: 350;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 21px;
  background-color: rgba(255, 0, 0, 0.03);
}
.singlemessage102Unwatch {
  top: 30%;
  z-index: 2222325;
  font-size: 15px;
  font-weight: 350;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 21px;
  background-color: rgba(44, 153, 23, 0.103);
}
.singlemessage106Unwatch {
  top: 30%;
  z-index: 2222325;
  font-size: 15px;
  font-weight: 350;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 21px;
  background-color: rgba(23, 127, 153, 0.103);
}
.singlemessage101 {
  cursor: pointer;
  top: 30%;
  z-index: 2222325;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  background-color: rgba(255, 0, 0, 0.03);
  border-radius: 21px;
}
.singlemessage102 {
  cursor: pointer;
  top: 30%;
  z-index: 2222325;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  background-color: rgba(44, 153, 23, 0.103);
  border-radius: 21px;
}
.singlemessage106 {
  cursor: pointer;
  top: 30%;
  z-index: 2222325;
  font-size: 14px;
  font-weight: 600;
  margin-right: 10px;
  background-color: rgba(23, 127, 153, 0.103);
  border-radius: 21px;
}
.singlemessage101Unwatch:hover,
.singlemessage101:hover {
  background-color: rgba(255, 0, 0, 0.055);
}

.singlemessage106Unwatch:hover,
.singlemessage106:hover {
  background-color: rgba(19, 144, 202, 0.24);
}

.singlemessage102Unwatch:hover,
.singlemessage102:hover {
  background-color: rgba(44, 153, 23, 0.153);
}
.notification177UnderLine {
  margin: 10px;
  width: 97%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.281);
}
.MeButton {
  width: 80%;
  padding: 5px;
  font-weight: 400;
  transition: 0.3s ease-in;
  margin: 0 auto;
}
.MeButton:hover {
  background-color: black;
  color: white;
  font-weight: 500;
  transform: scale(1.1);
}

#BefoteThatandThat {
  color: rgb(124, 124, 124);
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  text-align: left;
}
@media (max-width: 786px) {
  .singlemessage106,
  .singlemessage106Unwatch,
  .singlemessage102Unwatch,
  .singlemessage102,
  .singlemessage101Unwatch,
  .singlemessage101 {
    width: 150px;
    font-size: 10px;
  }

  .redRoundCircle12,
  #transperentBox {
    position: fixed;
    top: 120px;
    right: 40px;
  }
}
#redMeBitel {
  color: red;
}
#GREENMeBitel {
  color: rgb(6, 116, 11);
  font-weight: 600;
}
#BlueMeBitel {
  color: rgb(6, 35, 116);
  font-weight: 600;
}
