.counter {
  z-index: 250;
  position: fixed;
  top: 120px;
  right: 40px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  text-align: center;
  color: whitesmoke;
  line-height: 30px;
  transition: 0.1s ease-in;
}
.counter202 {
  z-index: 250;
  position: fixed;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  text-align: center;
  color: whitesmoke;
  line-height: 30px;
  transition: 0.1s ease-in;
  transform: scale(1.8);
  top: 120px;
  right: 40px;
}
.counter:hover {
  transform: scale(1.6);
}
.counter202:hover {
  transform: scale(1.6);
  background-color: rgb(214, 0, 0);
}

.notifications {
  border-radius: 10px;
  position: fixed;
  top: 150px;
  right: 50px;
  z-index: 250;
  background-color: rgb(235, 235, 235);
  color: black;
  font-weight: 300;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
#NotificationsHeader1077 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
#NotificationsHeader1077FirstLine {
  margin: 10px;
  width: 97%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.281);
}
.notification177 {
  cursor: pointer;
  top: 30%;
  z-index: 2222325;
  font-size: 15px;
  font-weight: 400;
  background-color: rgba(255, 0, 0, 0.03);
  border-radius: 21px;
}

.notification177:hover {
  background-color: rgba(255, 0, 0, 0.055);
}
.notificationGREENS {
  cursor: pointer;
  top: 30%;
  z-index: 2222325;
  font-size: 15px;
  font-weight: 400;
  background-color: rgba(44, 153, 23, 0.103);
  border-radius: 21px;
}

.notificationGREENS:hover {
  background-color: rgba(44, 153, 23, 0.153);
}
.notification177UnderLine {
  margin: 10px;
  width: 97%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.281);
}

.nButton {
  width: 80%;
  padding: 5px;
  margin-top: 10px;
  font-weight: 400;
  margin: 0 auto;
  transition: 0.3s ease-in;
}
.nButton:hover {
  transform: scale(1.1);
  font-weight: 500;
  background-color: black;
  color: white;
}
#redMeBitel {
  color: red;
}
#GREENMeBitel {
  color: rgb(6, 116, 11);
  font-weight: 600;
}
#righttoleeft {
  direction: rtl;
}

#TimeOfNotifications107454 {
  color: rgb(124, 124, 124);
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  text-align: left;
}
@media (max-width: 786px) {
  .notifications {
    right: 50px;
  }

  .notification177 {
    width: 150px;
    font-size: 10px;
  }
  .counter202,
  .counter {
    position: fixed;
    top: 120px;
    right: 40px;
  }
}
