.user-item1 {
  margin: 0.5rem;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
}

.user-item1 a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 1rem;
  color: white;
  background: #292929;
}

.user-item1 a:hover,
.user-item1 a:active {
  background: #00c3ff;
}

.user-item1__content {
  padding: 0;
}

.user-item1__image {
  width: 4rem;
  height: 4rem;
  margin-right: 4rem;
}

.user-item1__info h2 {
  font-size: 1.5rem;
  margin: 0 0 0.5rem 0;
  font-weight: normal;
  color: #00c3ff;
  margin-right: auto;
}

.user-item1 h3 {
  font-weight: lighter;
  color: white;
  padding: 10px;
  border-radius: 12px;
  margin-right: auto;
  margin-left: auto;
}
.user-item1 h2 {
  font-weight: bolder;
  margin-right: auto;
}

.user-item1:hover h3,
.user-item1:active h3 {
  color: #ffffff;
  background-color: #292929;
}

.user-item1__content:hover h2 {
  color: #292929;
}

.user-item1:active h2 {
  border-radius: 12px;
  margin-right: auto;
}

.user-item1__info h3 {
  margin: 0;
  font-size: 15px;
}

.user-item1__info span {
  color: #94d2bd;
}

.user-item1:hover span {
  color: #073b4c;
  font-weight: bold;
  background-color: #94d2bd;
  border-radius: 12px;
  padding: 5px;
}

#userIMGifNotimage1 {
  font-size: 60px;
  transition: 0.6s ease-in;
}

#userIMGifNotimage1:hover {
  color: #292929;
  font-size: 55px;
}
