.MotherOFSMARTCONTAINER {
  color: white;
  background-color: rgba(137, 43, 226, 0);
}
.Smart-counter-container {
  display: flex;
  justify-content: center;
}
.Smart-Counter {
  position: relative;
  color: rgb(0, 255, 242);
  top: 450px;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
}
#imGcounyer606 {
  transform: scale(0.7);
}
.HEADLINE-SMART-COUNTER {
  position: relative;
  color: rgb(0, 255, 242);
  top: 450px;
  text-align: center;
  font-size: 20px;
}
.DIVinterior {
}

@media (max-width: 768px) {
  .Smart-counter-container {
    display: block;
  }
}
