.MotherOFSMARTCONTAINER {
  color: white;
  background-color: rgba(137, 43, 226, 0);
  flex-direction: column;
  overflow: hidden;
  margin: 0;
  border-radius: 15px;
}
.Smart-counter-container {
  display: flex;
  justify-content: center;
  margin: 30px 50px;
  text-align: center;
}
.Smart-Counter {
  font-size: 60px;
  margin: 0 50px;
  margin-top: 10px;
}
@media (max-width: 768px) {
  .MotherOFSMARTCONTAINER {
    flex-direction: row;
  }
}
