.UserFiltercontainer {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 10px;
  width: 300px;
}

.UserFilterheader {
  background-color: #3e57db;
  color: white;
  padding: 30px 20px;
}

.UserFilterTitle {
  margin: 0;
  font-size: 25px;
  color: white;
}
.UserFilterSubTitle {
  display: inline-block;
  margin: 5px 0 20px;
  opacity: 0.8;
  font-size: 12px;
}
.UserFilterheader input {
  background-color: rgba(0, 0, 0, 0.295);
  border: 0;
  border-radius: 50px;
  color: white;
  font-size: 14px;
  padding: 10px 15px;
  width: 100%;
}
.UserFilterheader input:focus {
  outline: none;
}

.user-list {
  background-color: white;
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
}
.user-list li {
  display: flex;
  padding: 20px;
}
.user-list li:hover {
  background-color: rgb(223, 223, 223);
  cursor: pointer;
}
.user-list img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  margin-left: 50px;
}

.user-list .UserFilterUserInfo {
  margin-right: 5px;
}
.user-list .UserFilterUserInfo h4 {
  font-size: 20px;
  width: 100%;
  margin-top: 10px;
  margin-left: 18px;
}
#user-phone {
  font-size: 18px;
  padding: 2px 10px;
  background-color: rgb(118, 189, 255);
  color: rgb(255, 255, 255);
  border-radius: 30px;
}
#user-name {
  font-size: 20px;
}
.user-list li:not(:last-of-type) {
  border-bottom: 1px solid rgb(219, 219, 219);
}
/******/
.user-list li.hide {
  display: none;
}

#loadingUSERFILTER {
  margin-left: auto;
  margin-right: auto;
}

#before {
  display: none;
  content: 'הוסף משתמש חדש';
  right: 63%;
  top: 175px;
  position: fixed;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 17px;
}
#addNewUser101 {
  cursor: pointer;
  width: 85px;
  height: 85px;
  background-color: #3877ff;
  right: 65%;
  position: fixed;
  border-radius: 50%;
  color: rgb(255, 255, 255);
  font-size: 35px;
}
#addNewUser101:hover {
  background-color: #1a62ff;
}
#addNewUser101:hover + #before {
  display: block;
}
#leftttt {
  position: relative;
  right: 15px;
  top: 15px;
}
