#container {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
  position: relative;
  right: 74%;
  top: 40px;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 2px 12px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }

  100% {
    margin-top: -270px;
  }
}

#שלך {
  position: relative;
  right: 19%;
  font-size: 30px;
}

#ssss {
  padding: 0px 20px;
  border-radius: 120px;

  background: #000000;
}
#ssss2 {
  background: #10813f;
  padding: 0px 20px;
  border-radius: 120px;
}
#ssss3 {
  padding: 0px 20px;
  border-radius: 120px;
  background: #0a8cbb;
  z-index: 40;
}
#נהלאת {
  position: relative;
  right: 15%;
  font-size: 25px;
}
