.login-box {
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.671);
  box-shadow: 0 15px 25px rgb(0, 0, 0);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
  border-radius: 30px;
}
.login-box h2 {
  color: #fff;
  text-align: center;
}
.login-box .user-box {
  position: relative;
}


#BdayPicker{
margin-top: 15px;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 20px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background: transparent;
  font-size: 18px;
}
.login-box .user-box input:focus:valid,
.login-box .user-box input:focus:invalid {
  border-bottom: solid 2px #81d5ef;
}

.loginForm {
  background: rgba(0, 183, 255, 0.041);
  padding: 20px 40px;
  border-radius: 20px;
}
.FormLabel {
  position: absolute;
  top: 10px;
  right: 2px;
}
.FormLabel span {
  color: white;
  font-size: 18px;
}

.loginBTN {
  margin-top: 20px;
  width: 100%;
  border-radius: 50px;
  background-color: #0088b157;
  font-size: 20px;
}
.loginBTN:hover {
  background: #0088b1;
}
.loginBTN1 {
  margin-top: 20px;
  width: 100%;
  border-radius: 50px;
  background-color: #000000a6;
  color: white;
  font-size: 15px;
}
.loginBTN123 {
  margin-top: 20px;
  width: 100%;
  border-radius: 50px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 15px;
}
.loginBTN1:hover {
  background: #ffffff;
  color: rgb(0, 0, 0);
}

#user-name {
  margin-left: 30px;
  width: 100%;
}

.whitemeforgot {
  color: white;
  text-align: center;
  cursor: pointer;
}
