

#testimonials{
width: 80%;
}

.testimonial {
  text-align: center;
margin-top: 60px;
width: 90%;

}
.swiper-pagination-clickable .swiper-pagination-bullet {
color: white;}

/* ================ MEDIA QUERIES (MEDIUM DEVICES) ================= */
/* @media screen and (max-width: 1024px) {
  .container.testimonials__container {

    width: 60%;
  }
} */

/* ================ MEDIA QUERIES (SMALL DEVICES) ================= */
/* @media screen and (max-width: 600px) {
  .container.testimonials__container {
    width: var(--container-width-sm);
  }

 
} */

.BusinessTesto{
background-color: rgb(37, 37, 37);

cursor: pointer;
height: 250px;
 width: 250px;
border-radius: 50%;
}


.BusinessTesto:hover{
transition: 0.2s ease-in;
background-color: rgb(112, 112, 112);
}
#OurMisparot{
cursor: pointer;
margin: auto;
color: white;
position: relative;
margin-top: 75px;
font-size: 32px;}