.microphone {
  cursor: pointer;
}
.isListening {
  cursor: pointer;
}
#textRecorded {
  color: white;
  font-size: 25px;
}

#btnxnx {
  width: 60px;
  height: 60px;
  margin: 6em 0 2em 0;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
}
#container1234 {
  position: absolute;
  background-color: rgba(255, 255, 255, 0);
}
.microphone-btn {
  z-index: 10;
  position: fixed;
  background-color: rgb(14, 145, 221);
  left: 20px;
  font-size: 40px;
  border: none;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  text-align: center;
}
.microphone-btn:hover {
  background-color: rgb(0, 162, 255);
}
.microphone-btnOnclick {
  z-index: 10;
  text-align: center;
  position: fixed;
  background-color: rgb(0, 162, 255);
  left: 20px;
  font-size: 40px;
  border: none;
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
.microphone-btnOnclick:hover {
  animation: neon4 0.8s ease-in infinite;
}

.absuluteimd1 {
  position: fixed;
  left: 80px;
  z-index: 5;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  outline: 3px solid rgba(0, 217, 255, 0.205);

  outline-offset: -9px;
}
.displaynone {
  display: none;
}
#final,
#interim {
  display: none;

  width: 300px;
  color: white;
  padding: 1rem;
  border: 1px solid rgb(78, 78, 78);
  color: rgb(78, 78, 78);
  position: fixed;
  left: 20px;
  top: 180px;
}
